<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2W1T4Qigx-vJZNqysrqGOrX_0cdzoU2g</string>
	<key>GCM_SENDER_ID</key>
	<string>152066053549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-app-d2e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-d2e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152066053549:ios:62f57f7058a29c6d76bd24</string>
</dict>
</plist>